// Import common styles
@import "app-common";

// Place any CSS rules you want to apply only on Android here

.button {
    border-color: #b2b2b2;
    background-color: #f8f8f8; 
}

.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 800;
}

.page__content-icon {
    color: const(green);
}